{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
<div class="container custom-container">
  <div class="custom-row bg-white">
    <div class="row">
      <div class="exp-title">
        <p class="text-uppercase title-underline">INTRODUCTION</p>
      </div>

      <div class="col-sm-12 col-padding">
        <div class="intro-card">
          <h3 class="intro-title">Background</h3>
          <section class="intro-content">
          In the titration lab, you will learn the importance of titrations by titrating an acid with a base. Titrations have many practical uses. In medicine, titrations are used to create exact mixtures of drugs for intravenous drips. Additionally, they are used in pregnancy testing and blood glucose meters. Titrations often have uses in waste removal and biodiesel production by determining the acidity of a variety of solutions.
          <span class='content-quote'>-Some famous Source</span>
          </section>
        </div>
      </div>

      <div class="col-sm-2 col-sm-offset-7 btn-padding intro-btn-pos">
        <div class="regular-button intro-btn text-center text-uppercase"><a href="javascript:;">continue</a></div>
      </div>

    </div>
  </div>
</div>

<!-- footer content -->
<footer>
  <div class="text-center">
    Server Version: Davis_0.1
    <br>
    &copy; 2017 - SVN Inc.
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
{% endblock %}
