{% extends "base.html" %} {% block title %}Postlab Summary{% endblock %} {% block content %}
<div class="container custom-container">
  <div class="custom-row bg-white">
    <div class="row">
      <div class="exp-title">
        <p class="text-uppercase title-underline">POSTLAB SUMMARY</p>
      </div>

      <div class='col-sm-12 col-padding'>
        <div class='postlab-summary-container'>
          <div class='postlab-summary-title text-uppercase text-center'>titration postlab report</div>
          <div class="postlab-summary-content">
            <!-- card 1 -->
            <div class="postlab-summary-card">
              <div class="postlab-card-title title-underline" style="margin-top: 0 !important;">Convert V<sub>acid</sub> from mL to L</div>
              <div class="report-card">
                <div class="report-title">Trial 1:</div>
                <div class="report-result">1 mL</div>
                <div class="report-opt">X</div>
                <div>
                  <table class="report-divide">
                    <tr>
                      <td><span class="report-result">1000 mL</span></td>
                    </tr>
                    <tr>
                      <td><hr class="divider"></td>
                    </tr>
                    <tr>
                      <td><span class="report-result">1000 mL</span></td>
                    </tr>
                  </table>
                </div>
                <div class="report-opt">=</div>
                <div class="report-result">1 mL</div>
              </div>
              <div class="report-card">
                <div class="report-title">Trial 2:</div>
                <div class="report-result">1 mL</div>
                <div class="report-opt">X</div>
                <div>
                  <table class="report-divide">
                    <tr>
                      <td><span class="report-result">1000 mL</span></td>
                    </tr>
                    <tr>
                      <td><hr class="divider"></td>
                    </tr>
                    <tr>
                      <td><span class="report-result">1000 mL</span></td>
                    </tr>
                  </table>
                </div>
                <div class="report-opt">=</div>
                <div class="report-result">1 mL</div>
              </div>
            </div>

              <!-- card 2 -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Convert V<sub>base</sub> from mL to L</div>
                <div class="report-card">
                  <div class="report-title">Trial 1:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">X</div>
                  <div>
                    <table class="report-divide">
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                      <tr>
                        <td><hr class="divider"></td>
                      </tr>
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="report-opt">=</div>
                  <div class="report-result">1 mL</div>
                </div>
                <div class="report-card">
                  <div class="report-title">Trial 2:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">X</div>
                  <div>
                    <table class="report-divide">
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                      <tr>
                        <td><hr class="divider"></td>
                      </tr>
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="report-opt">=</div>
                  <div class="report-result">1 mL</div>
                </div>
              </div>

              <!-- card 3 -->
              <!-- no fraction -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Calculate moles of base used</div>
                <div class="report-card">
                  <div class="report-title">Trial 1:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">+</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">=</div>
                  <div class="report-result">2 mL</div>
                </div>
                <div class="report-card">
                  <div class="report-title">Trial 2:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">+</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">=</div>
                  <div class="report-result">2 mL</div>
                </div>
              </div>

              <!-- card 4 -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Calculate moles of acid used</div>
                <div class="report-card">
                  <div class="report-title">Trial 1:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">X</div>
                  <div>
                    <table class="report-divide">
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                      <tr>
                        <td><hr class="divider"></td>
                      </tr>
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="report-opt">=</div>
                  <div class="report-result">1 mL</div>
                </div>
                <div class="report-card">
                  <div class="report-title">Trial 2:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">X</div>
                  <div>
                    <table class="report-divide">
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                      <tr>
                        <td><hr class="divider"></td>
                      </tr>
                      <tr>
                        <td><span class="report-result">1000 mL</span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="report-opt">=</div>
                  <div class="report-result">1 mL</div>
                </div>
              </div>

              <!-- card 5 -->
              <!-- no fraction -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Calculate concentration of acid</div>
                <div class="report-card">
                  <div class="report-title">Trial 1:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">+</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">=</div>
                  <div class="report-result">2 mL</div>
                </div>
                <div class="report-card">
                  <div class="report-title">Trial 2:</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">+</div>
                  <div class="report-result">1 mL</div>
                  <div class="report-opt">=</div>
                  <div class="report-result">2 mL</div>
                </div>
              </div>

              <!-- card 6 -->
              <div class="postlab-chkbox-card">
                <div class="postlab-title title-underline">Determine which trials (at least one) used in further calculations</div>
                <div class="postlab-chkbox-content">
                  <div class="postlab-chkbox">
                    <input id="option" type="checkbox" name="field" value="option" checked disabled>
                    <label for="option"><span><span></span></span>Trial 1</label>
                  </div>
                  <div class="postlab-chkbox">
                    <input id="option2" type="checkbox" name="field2" value="option" disabled>
                    <label for="option2"><span><span></span></span>Trial 2</label>
                  </div>
                </div>
              </div>

              <!-- card 7 -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Calculate average concentration of acid</div>
                <div class="report-card">
                  <div class="report-result">2 mL</div>
                </div>
              </div>

              <!-- card 8 -->
              <div class="postlab-summary-card">
                <div class="postlab-card-title title-underline">Determine the number of protons involved in the reaction</div>
                <div class="report-card">
                  <div class="report-result">2 mL</div>
                </div>
              </div>

              <!-- card 9 -->
              <div class="postlab-card">
                <div class="postlab-title title-underline">Do you think your final answer (acid concentration) is realistic? Why or why not?</div>
                <div class="postlab-mix-content">
                  <div class='postlab-radio'>
                    <div class="radio">
                      <input id="postlab-option-1" name="postlab-option-1" type="radio" disabled>
                      <label for="postlab-option-1" class="radio-label">Yes</label>
                    </div>
                  </div>
                  <p>Test</p>
                </div>
              </div>

              <!-- card 10 -->
              <div class="postlab-card">
                <div class="postlab-title title-underline">Determine the volume and ratio</div>
                <div class="postlab-mix-content">
                  <div class="postlab-fill-blank">
                    <div class="report-card">
                      Your hypothesized that if the concentration of HCl is greater than the concentration of NaOH, the volume of NaOH required to neutralize the solution of HCl will be
                      <select class="form-control fb-custom-select" disabled>
                        <option value="1" selected>greater than</option>
                        <option value="-1">less than</option>
                        <option value="0">equal to</option>
                      </select>
                      the volume of HCl because the neutralization of HCl with NaOH requires a
                      <div class="report-result">2</div>
                      :
                      <div class="report-result">1</div>
                      ratio. Was your prediction correct? Why or why not?
                    </div>
                  </div>
                  <div class='postlab-radio'>
                    <div class="radio">
                      <input id="postlab-option-3" name="postlab-option-2" type="radio" disabled>
                      <label for="postlab-option-3" class="radio-label">Yes</label>
                    </div>
                  </div>
                  <p>Test</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-10 btn-padding postlab-btn-pos">
          <div class="regular-button postlab-summary-btn text-center text-uppercase"><a href="javascript:;">continue</a></div>
        </div>
      </div>
    </div>
  </div>

<!-- footer content -->
<footer>
  <div class="text-center">
    Server Version: Davis_0.1
    <br> &copy; 2017 - SVN Inc.
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
{% endblock %}
