{% extends "base.html" %} {% block title %}Waste Disposal{% endblock %} {% block content %}
<div class="container custom-container">
  <div class="custom-row bg-white">
    <div class="row">
      <div class="exp-title">
        <p class="text-uppercase title-underline">WASTE DISPOSAL</p>
      </div>

      <!-- card 1 -->
      <div class='col-sm-9 col-padding'>
        <div class='wd-card'>
          <div class='wd-title'>
            <span>Titrated solution</span>
          </div>
          <div class='wd-content'>
            liquid waste container labelled "Sodium Hydroxide, Hydrochloric Acid and Phenolphthalein"
          </div>
        </div>
      </div>

      <!-- card 2 -->
      <div class='col-sm-9 col-padding'>
        <div class='wd-card'>
          <div class='wd-title border-blue'>
            <span>Excess Sodium Hydroxide (NaOH)</span>
          </div>
          <div class='wd-content'>
            liquid waste container labelled “Sodium Hydroxide” only
          </div>
        </div>
      </div>

      <!-- card 3 -->
      <div class='col-sm-9 col-padding'>
        <div class='wd-card'>
          <div class='wd-title border-green'>
            <span>Excess Hydrochloric Acid (HCl)</span>
          </div>
          <div class='wd-content'>
            liquid waste container labelled “Hydrochloric Acid” only
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-sm-offset-10 btn-padding">
        <div class="regular-button wd-btn text-center text-uppercase"><a href="javascript:;">continue</a></div>
      </div>
    </div>

  </div>
</div>

<!-- footer content -->
<footer>
  <div class="text-center">
    Server Version: Davis_0.1
    <br> &copy; 2017 - SVN Inc.
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
{% endblock %}
