// _variables.scss

// color
$p-color-text: #2A3F54;
$s-color-text: #858598;
$color-text-hover: #03a9f4;

$color-right-col: #EDEDED;
$p-color-menu-border: #cfcfcf;
$s-color-menu-border: #eff2f5;
$color-menu-hover: #eff4f6;

$p-color-content: #73879C;
$color-quote: #828282;
$color-title-border: #e1e6ed;
$color-quote-border: #eeeeee;
$color-card-border: #dfe8f1;
$color-r-border: #f44336;
$color-g-border: #4caf50;
$color-b-border: #2196f3;
$color-title: #e91e63;
$color-b-title: #1d83d5;
$color-g-title: #429946;
$color-o-title: #d53b2f;
$color-p-title: #673ab7;

$color-input-border: #ccc;
// $color-input-disable: #efefef;
$color-input-disable: #eeeeee;
$color-input-disable-font: #73899f;
$color-input-disable-border: #cccccc;
$color-input-hover: #005ba6;

$color-rbtn: #f44336;
$color-bbtn: #36a9ce;
$color-gbtn: #4caf50;
$color-rbtn-hover: #ff5043;
$color-bbtn-hover: #2bbcea;
$color-gbtn-hover: #53cb58;

// typography
$font-bold: 'Rubik Bold', 'Rubik Regular', 'Rubik';
$font-regular: 'Rubik Regular';
$font-light: 'Rubik Light', 'Rubik Regular', 'Rubik';

// url
$spinner-loader: '../images/loading.gif';
$submit-loader: '../images/blocks.gif';
$spin-loader: '../images/spin.gif';
$warning-sign: '../images/warning-sign.png';
